.vscode
.env
clipping/.env
apps/users/__pycache__/
apps/clipping/__pycache__/
clipping/__pycache__/
apps/users/migrations/__pycache__/
apps/users/management/__pycache__/
apps/users/migrations/__pycache__/xs
news_clippings_bot/__pycache__/
apps/clipping/migrations/__pycache__/
news_clippings_bot/migrations/__pycache__/
venv/
news_clippings_bot/credentials.py